
*.pyc
*.pyc
.vscode/settings.json
forkhtoteststuff_untracked.py
obj/3qubits_bulk_dephasing.pkl
obj/3qubits_sai_ring.pkl
obj/4qubits_bulk_dephasing.pkl
obj/4qubits_sai_ring.pkl
obj/5qubits_sai_ring.pkl
